<html>

<head>
  <meta charset="UTF-8">
  <title>Bootstrap Clone</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script src="https://use.fontawesome.com/c0da20bc1d.js"></script>
  <script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
</head>

<body>
  <header>
    <nav>
      <div class="navbar-left">
        <ul>
          <li><a href="#" id="bootstrap-button">
              <img src="https://i.imgur.com/ouvusSi.png">
            </a></li>
          <li><a href="#" style="color:white"><strong>Home</strong></a></li>
          <li><a href="#">Docs</a></li>
          <li><a href="#">Examples</a></li>
          <li><a href="#">Icons</a></li>
          <li><a href="#">Themes</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
      <div class="navbar-right">
        <ul>
          <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
          <li><a href="#"><i id="twitter" class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#" id="slack"><i class="fa fa-slack" aria-hidden="true"></i></a></li>
          <li><a href="#" id="open">
              <img src="https://i.imgur.com/XT3kqyY.png?1">
            </a></li>
          <a href="#" id="download">Download</a>
        </ul>
      </div>
    </nav>
  </header>


  <main>
    <div class="first">
      <div class="first-text">
        <div class="first-content">
          <div class="first-cont-1">
            <h1 class="bootstrap-head">Build fast, responsive sites with Bootstrap<h1>
                <p class="para">
                  Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular
                  front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive
                  prebuilt components, and powerful JavaScript plugins.
                </p>
                <div class="first-butt">
                  <a href="" class="button button1">Get started</a>
                  <a href="" class="button button2">Download</a>
                </div>
                <p class="ver">
                  Currently <strong>v5.1.3</strong>
                  <span class="dot">·</span>
                  <a href="" class="vlink">v4.6.x docs</a>
                  <span class="dot">·</span>
                  <a href="" class="vlink">All releases</a>
                </p>
          </div>
          <div class="big-graphic">
            <img
              src="https://camo.githubusercontent.com/ffd24e09166594cd4bc0172c7b5d8eba15f5c53d7f1fa2968e8aace817be528d/68747470733a2f2f6c69627261636f6465722d7574696c6974792e73332e616d617a6f6e6177732e636f6d2f6273352e706e67">
          </div>
        </div>
        <div class="bootad">
          <a href="">
            <img src="https://cdn4.buysellads.net/uu/1/110290/1642546579-1642526629-Awareness_Carbon_B.png">
          </a>
          <div class="bootad-text">
            <a href="">Catch the most defects before your next mobile app release so you can bring your customers the
              best experience</a> <br><br>
            <a href="">ads via Carbon</a>
          </div>

        </div>
      </div>

    </div>

    <div class="second">
      <!--       <div class="second-text"> -->
      <section>
        <div class="sec-1">
          <div class="icons">
            <img src="https://i.imgur.com/uHRshe2.png">
          </div>
          <h2>Installation</h2>
          <p class="p1">Install Bootstrap’s source Sass and JavaScript files via npm, Composer, or Meteor.</p>
          <p class="p2">Package managed installs don’t include documentation or our full build scripts. You can also
            <a href="https://github.com/twbs/bootstrap-npm-starter">use our npm template repo</a>
          </p>
          <a href="" class="button button3">Read installation docs</a>
        </div>
        <div class="sec-2">
          <div class="copy">
            <button type="button" class="copy-button">Copy</button>
          </div>
          <div class="code">
            <code>$ npm install bootstrap</code>
          </div>
          <div class="copy">
            <button type="button" class="copy-button">Copy</button>
          </div>
          <div class="code">
            <code>$ gem install bootstrap -v 5.1.3</code>
          </div>
        </div>
      </section>
      <section class="">
        <div class="sec-1">
          <div class="icons">
            <img src="https://i.imgur.com/LHZCh9a.png">
          </div>
          <h2>jsDelivr</h2>
          <p class="p1">When you only need to include Bootstrap’s compiled CSS or JS, you can use <a
              href="">jsDelivr</a>.</p>
          <p class="p2">
            See it in action with our simple <a href="">starter template</a>
            , or
            <a href="">browse the examples</a>
            to jumpstart your next project. You can also choose to include Popper and our JS
            <a href="">separately</a>
            .
          </p>
          </p>
          <a href="" class="button button3">Explore the docs</a>
        </div>
        <div class="sec-2">
          <div class="copy">
            <button type="button" class="copy-button">Copy</button>
          </div>
          <div class="jscode">
            <pre class="jscode-text">
<code class="js-code"><span class="lg"><!-- CSS only --></span>
<span class="g"><</span><span class="b">link</span> <span class="bb">href</span><span class="mg">=</span><span class="r">"https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"</span> <span class="bb">rel</span><span class="mg">=</span><span class="r">"stylesheet"</span> <span class="bb">integrity</span><span class="mg">=</span><span class="r">"sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqy"</span> <span class="bb">crossorigin</span><span class="mg">=</span><span class="r">"anonymous"</span><span class="g">></span></code></pre>
          </div>
          <div class="copy">
            <button type="button" class="copy-button">Copy</button>
          </div>
          <div class="jscode">
            <pre class="jscode-text">
<code class="js-codecode"><span class="lg"><!-- JavaScript Bundle with Popper --></span>
<span class="g"><</span><span class="b">script</span> <span class="bb">src</span><span class="mg">=</span><span class="r">"https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"</span> <span class="bb">integrity</span><span class="mg">=</span><span class="r">"sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"</span> <span class="bb">crossorigin</span><span class="mg">=</span><span class="r">"anonymous"</span><span class="g">></span></code></pre>
          </div>
        </div>
      </section>
      <section class="">
        <div class="sec-1">
          <div class="icons">
            <img src="https://i.imgur.com/VGhJ3tT.png">
          </div>
          <h2>Bootstrap Icons</h2>
          <p class="p1">For the first time ever, Bootstrap has its own open source SVG icon library, designed to work
            best with our components and documentation.</p>
          <p class="p2">Bootstrap Icons are designed to work best with Bootstrap components, but they’ll work in any
            project. They’re SVGs, so they scale quickly and easily, can be implemented in several ways, and can be
            styled with CSS.
          </p>
          <a href="" class="button button3">Get Bootstrap Icons</a>
        </div>
        <div class="sec-2">
          <div class="bootstrap-icons">
            <img src="https://getbootstrap.com/docs/5.1/assets/img/bootstrap-icons@2x.png">
          </div>
        </div>
      </section>
      <section class="">
        <div class="sec-1">
          <div class="icons">
            <img src="https://i.imgur.com/ilL8wAJ.png">
          </div>
          <h2>Official Themes</h2>
          <p class="p1">Take Bootstrap to the next level with premium themes from the <a href="">official Bootstrap
              Themes marketplace</a>.</p>
          <p class="p2">Themes are built on Bootstrap as their own extended frameworks, rich with new components and
            plugins, documentation, and powerful build tools.
          </p>
          <a href="" class="button button3">Browse Themes</a>
        </div>
        <div class="sec-2">
          <div class="bootstrap-icons">
            <img src="https://getbootstrap.com/docs/5.1/assets/img/bootstrap-themes@2x.png">
          </div>
        </div>
      </section>
      <!--     </div> -->
    </div>

  </main>


  <footer>
    <div class="foot-cont">
      <div class="foot-text">
        <div class="first-col">
          <div class="col-logo">
            <div class="col-top">
              <img src="https://i.imgur.com/kPpkvFT.png">
              <div class="col-bootstrap">Bootstrap</div>
            </div>
          </div>
          <ul class="first-col-list">
            <li class="col-item"> Designed and built with all the love in the world by the <a href="">Bootstrap team</a>
              with the help of <a href="">our contributors</a>.
            </li><br>
            <li class="col-item"> Code licensed <a href="">MIT</a>, docs <a href="">CC BY 3.0</a>.
            </li><br>
            <li class="col-item"> Currently v5.1.3.
            </li><br>
          </ul>
        </div>
        <div class="foot-col-1">
          <h3>Links</h3>
          <ul class="col-list">
            <li class="col-item">
              <a href="">Home</a>
            </li><br>
            <li class="col-item">
              <a href="">Docs</a>
            </li><br>
            <li class="col-item">
              <a href="">Examples</a>
            </li><br>
            <li class="col-item">
              <a href="">Themes</a>
            </li><br>
            <li class="col-item">
              <a href="">Blog</a>
            </li><br>
          </ul>
        </div>
        <div class="foot-col">
          <h3>Guides</h3>
          <ul class="col-list">
            <li class="col-item">
              <a href="">Starter template</a>
            </li><br>
            <li class="col-item">
              <a href="">Getting started</a>
            </li><br>
            <li class="col-item">
              <a href="">Webpack</a>
            </li><br>
            <li class="col-item">
              <a href="">Parcel</a>
            </li><br>
          </ul>
        </div>
        <div class="foot-col">
          <h3>Projects</h3>
          <ul class="col-list">
            <li class="col-item">
              <a href="">Bootstrap 5</a>
            </li><br>
            <li class="col-item">
              <a href="">Bootstrap 4</a>
            </li><br>
            <li class="col-item">
              <a href="">Icons</a>
            </li><br>
            <li class="col-item">
              <a href="">RFS</a>
            </li><br>
            <li class="col-item">
              <a href="">npm starter</a>
            </li><br>
          </ul>
        </div>
        <div class="foot-col">
          <h3>Community</h3>
          <ul class="col-list">
            <li class="col-item">
              <a href="">Issues</a>
            </li><br>
            <li class="col-item">
              <a href="">Discussions</a>
            </li><br>
            <li class="col-item">
              <a href="">Corporate sponsors</a>
            </li><br>
            <li class="col-item">
              <a href="">Open Collective</a>
            </li><br>
            <li class="col-item">
              <a href="">Slack</a>
            </li><br>
            <li class="col-item">
              <a href="">Stack Overflow</a>
            </li><br>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>